
TradeReport/TradeReportUnitTest/obj/TradeReportUnitTest.csproj.nuget.dgspec.json
TradeReport/TradeReportUnitTest/obj/Release/net6.0/TradeReportUnitTest.GeneratedMSBuildEditorConfig.editorconfig
TradeReport/TradeReportUnitTest/obj/Release/net6.0/TradeReportUnitTest.assets.cache
TradeReport/TradeReportUnitTest/obj/Release/net6.0/TradeReportUnitTest.AssemblyInfoInputs.cache
TradeReport/TradeReportUnitTest/obj/Release/net6.0/TradeReportUnitTest.AssemblyInfo.cs
TradeReport/TradeReportUnitTest/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
TradeReport/TradeReportUnitTest/obj/project.nuget.cache
TradeReport/TradeReportUnitTest/obj/project.assets.json
TradeReport/TradeReportUnitTest/obj/Debug/net6.0/TradeReportUnitTest.pdb
TradeReport/TradeReportUnitTest/obj/Debug/net6.0/TradeReportUnitTest.genruntimeconfig.cache
TradeReport/TradeReportUnitTest/obj/Debug/net6.0/TradeReportUnitTest.GeneratedMSBuildEditorConfig.editorconfig
TradeReport/TradeReportUnitTest/obj/Debug/net6.0/TradeReportUnitTest.dll
TradeReport/TradeReportUnitTest/obj/Debug/net6.0/TradeReportUnitTest.csproj.FileListAbsolute.txt
TradeReport/TradeReportUnitTest/obj/Debug/net6.0/TradeReportUnitTest.csproj.CoreCompileInputs.cache
TradeReport/TradeReportUnitTest/obj/Debug/net6.0/TradeReportUnitTest.csproj.AssemblyReference.cache
TradeReport/TradeReportUnitTest/obj/Debug/net6.0/TradeReportUnitTest.assets.cache
TradeReport/TradeReportUnitTest/obj/Debug/net6.0/ref/TradeReportUnitTest.dll
TradeReport/TradeReportUnitTest/bin/Release/net6.0/CoverletSourceRootsMapping
TradeReport/TradeReportUnitTest/bin/Debug/net6.0/TradeReportUnitTest.pdb
TradeReport/TradeReportUnitTest/bin/Debug/net6.0/TradeReportUnitTest.dll
TradeReport/TradeReportUnitTest/bin/Debug/net6.0/TradeReport.pdb
TradeReport/TradeReportUnitTest/bin/Debug/net6.0/TradeReport.dll
TradeReport/TradeReportUnitTest/bin/Debug/net6.0/ref/TradeReportUnitTest.dll
TradeReport/TradeReportUnitTest/bin/Debug/net6.0/CoverletSourceRootsMapping
TradeReport/TradeReport/obj/TradeReport.csproj.nuget.dgspec.json
TradeReport/TradeReport/obj/Release/net6.0/TradeReport.GlobalUsings.g.cs
TradeReport/TradeReport/obj/Release/net6.0/TradeReport.GeneratedMSBuildEditorConfig.editorconfig
TradeReport/TradeReport/obj/Release/net6.0/TradeReport.assets.cache
TradeReport/TradeReport/obj/Release/net6.0/TradeReport.AssemblyInfoInputs.cache
TradeReport/TradeReport/obj/Release/net6.0/TradeReport.AssemblyInfo.cs
TradeReport/TradeReport/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
TradeReport/TradeReport/obj/project.nuget.cache
TradeReport/TradeReport/obj/project.assets.json
TradeReport/TradeReport/obj/Debug/net6.0/TradeReport.pdb
TradeReport/TradeReport/obj/Debug/net6.0/TradeReport.genruntimeconfig.cache
TradeReport/TradeReport/obj/Debug/net6.0/TradeReport.GeneratedMSBuildEditorConfig.editorconfig
TradeReport/TradeReport/obj/Debug/net6.0/TradeReport.dll
TradeReport/TradeReport/obj/Debug/net6.0/TradeReport.csproj.FileListAbsolute.txt
TradeReport/TradeReport/obj/Debug/net6.0/TradeReport.assets.cache
TradeReport/TradeReport/bin/Debug/net6.0/TradeReport.pdb
TradeReport/TradeReport/bin/Debug/net6.0/TradeReport.dll
TradeReport/.vs/VSWorkspaceState.json
TradeReport/.vs/TradeReport/v17/workspaceFileList.bin
TradeReport/.vs/TradeReport/v17/TestStore/0/001.testlog
TradeReport/.vs/TradeReport/v17/.suo
TradeReport/.vs/slnx.sqlite
TradeReport/.vs/TradeReport/v17/TestStore/0/001.testlog
